header:after{
    content: "";
    clear: both;
    display: block;
}
.one{
    padding-left: 100px;
    float: left;
}
.two{
    padding-top: 40px;
    float: left;
}
.three{
    padding-left: 80%;
    padding-top: 70px;
}
.four{
    font-style: italic;
    color: white;
    background-color: #6fa8dc;
}
.five{
    padding-left: 70px;
    float: left;
}
.Semantic{
    padding-left: 150px;
}
section:after{
    content: "";
    clear: both;
    display: block;
}